.tempStyle {
    float: center;
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    background: rgba(255,192,203,.9);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 100%;
    display: inline-block;
    border: 5px dotted dashed solid double yellowgreenss;
}
