.tempStyle {
    float: center;
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    background: rgba(255,192,203,.9);
    font-family: "Monospace";
    height: 100%;
    display: inline-block;
    border: 5px solid double yellowgreen;
}
.hero {
    /* the 'vh' unit asks the browser to */
    /* return the height of the viewport */
    /* we can then use that to set the height of an element */
    /* as a percentage of the viewport height (vh) */
    height: 100vh;
    min-height: 450px;
    background-image: url("https://68.media.tumblr.com/5160d76a676f823a595f93c1192d3177/tumblr_n47a0q0RhI1tz3c6ao1_r3_500.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .title {
    font-size: 25pt;
    color: #000000;
    float: center;
    margin-top: 170px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 188, 188);
}

.title h1 {
    font-family: 'Monospace';
    font-size: 2.5em;
    letter-spacing: 0.2em;
}
