*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
:before,:after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html,body{
    height:100%
}
::-webkit-input-placeholder{
    color:rgba(255,255,255,0.1)
}
:-moz-placeholder{
    color:rgba(255,255,255,0.1)
}
::-moz-placeholder{
    color:rgba(255,255,255,0.1)
}
:-ms-input-placeholder{
    color:rgba(255,255,255,0.1)
}
input{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius:0!important;
    -moz-border-radius:0!important;
    border-radius:0!important
}
.gpu-hack{
    -webkit-perspective:1000px;
    -moz-perspective:1000px;
    perspective:1000px;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden
}
.bg-cover{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    z-index:0;
    visibility:hidden
}
.bg-cover::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:-moz-linear-gradient(270deg,rgba(29,31,40,0.75) 0%,rgba(29,31,40,0.95) 100%);
    background:-webkit-linear-gradient(270deg,rgba(29,31,40,0.75) 0%,rgba(29,31,40,0.95) 100%);
    background:-o-linear-gradient(270deg,rgba(29,31,40,0.75) 0%,rgba(29,31,40,0.95) 100%);
    background:-ms-linear-gradient(270deg,rgba(29,31,40,0.75) 0%,rgba(29,31,40,0.95) 100%);
    background:linear-gradient(180deg,rgba(29,31,40,0.75) 0%,rgba(29,31,40,0.95) 100%)
}
.abs-center{
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.mt-0{
    margin-top:0
}
body{
    padding:0;
    margin:0;
    background:#151515;
    color:#fff;
    font-size:16px;
    line-height:30px
}
.content-wrapper{
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
    text-align:center;
    z-index:1
}
.content-wrapper::before{
    content:'';
    display:inline-block;
    height:100%;
    margin-right:-.25em;
    vertical-align:middle
}
.v-center{
    position:relative;
    display:inline-block;
    width:86%;
    text-align:left;
    vertical-align:middle
}
.main-content{
    visibility:hidden
}
p{
    font-size:1em;
    line-height:1.875em;
    margin:0;
    padding:0 0 .9375em
}
#drifter,#particles-js{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden
}
.preloader{
    z-index:100
}
.spinner{
    position:relative;
    width:1em;
    height:1em;
    margin:0 auto;
    border-radius:50%;
    background:#DDC225;
    background:-moz-linear-gradient(top,#DDC225 10%,rgba(255,255,255,0) 100%);
    background:-webkit-linear-gradient(top,#DDC225 10%,rgba(255,255,255,0) 100%);
    background:linear-gradient(to bottom,#DDC225 10%,rgba(255,255,255,0) 100%);
    -webkit-animation:load 1s infinite linear;
    -moz-animation:load 1s infinite linear;
    animation:load 1s infinite linear
}
.spinner:before,.spinner:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%
}
.spinner:before{
    border-radius:100%;
    background:-moz-linear-gradient(left,rgba(255,255,255,0) 50%,#DDC225 50%);
    background:-webkit-linear-gradient(left,rgba(255,255,255,0) 50%,#DDC225 50%);
    background:linear-gradient(to right,rgba(255,255,255,0) 50%,#DDC225 50%)
}
.spinner:after{
    width:90%;
    height:90%;
    margin:auto;
    border-radius:50%;
    background:#151515
}
#minimos-1{
    font-family:"Raleway",sans-serif;
    background:#151515
}
