.backstyle {
    float: center;
    margin: 15px;
    padding: 10px;
    max-width: 100%;
    background: DarkTurquoise;
    font-family: "Monospace";
    max-height: 100%;
    display: inline-block;
    text-overflow:ellipsis;
    border: 5px solid yellowgreen;
}
.hero {
    height: 100vh;
    min-height: 450px;
    background-image: url("https://68.media.tumblr.com/5160d76a676f823a595f93c1192d3177/tumblr_n47a0q0RhI1tz3c6ao1_r3_500.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .title {
    font-size: 40pt;
    color: #000000;
    float: center;
    margin-top: 170px;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
}

.title h1 {
    font-family: 'Monospace';
}
.title h2{
  font-family:'Monospace';
  font-size: 18pt;
}
